<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<h1>New Product</h1>

	<form action="/image/upload" method="post" enctype="multipart/form-data">
		<p>
			<b>Name:</b> <input type='text' name='name' />
		</p>
		<p>
			<b>Description:</b> <input type="text" name='description'/>
		</p>
		<p>
			<b>Prize:</b><br /> <input type='text' name='prize' />
		</p>
		<p>
			<label for="category">Category:</label><br />
			<select id="category" name="category">
				<option value="" selected="selected">- SELECCIONA -</option>
				<option value="Televisión"> Televisión </option>
				<option value="Informática"> Informática </option>
				<option value="Videoconsola"> Videoconsola </option>
				<option value="Pequeño electrodoméstico"> Pequeño Electrodoméstico </option>
			</select>
		</p>
		<p>
			<label>Image file:</label><input type="file" name="file" />
		</p>

		<input type='submit' name='enviar' value='Enviar' />
	</form>
	<p th:if="${error}"> ERROR, PRODUCT HAS NOT ADDED</p>
	<p th:if="${right}">PRODUCT HAS BEEN ADDED</p>
	<a href="/adminTemplate">Volver</a>
</body>
</html>