<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Administración</title>
<link rel="stylesheet" href="/styles/bootstrap.css"></link>
<link rel="stylesheet" href="/styles/styles.css"></link>
<meta charset="UTF-8" />
</head>
<body>
	<div id="mainRow" class="row">
		<div class="container">
			<div class="row">
	  			<div class="col-sm-3">
	    			<div class="sidebar-nav">
	      				<div class="navbar navbar-default" role="navigation">
	        				<div class="navbar-header">
	          					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
	            					<span class="sr-only">Toggle navigation</span>
	            					<span class="icon-bar"></span>
	            					<span class="icon-bar"></span>
	            					<span class="icon-bar"></span>
	          					</button>
	          					<span class="visible-xs navbar-brand">Sidebar menu</span>
	        				</div>
	        				<div class="navbar-collapse collapse sidebar-navbar-collapse">
	          					<ul class="nav navbar-nav">
	            					<li><a href="/addProduct">Añadir productos</a></li>
	            					<li><a href="/modifyProduct">Modificar productos</a></li>
	            					<li><a href="/deleteProduct">Eliminar productos</a></li>
	            					<li><a href="/confirmationStorage">Confirmar pedidos</a></li>
	          					</ul>
	        				</div><!--/.nav-collapse -->
	      				</div>
	    			</div>
	  			</div>
			</div>
		</div>
		<a href="/"><button class="btn btn-primary">Volver a la página principal</button></a>
	</div>
</body>
</html>