<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Confirmacion de pedidos</title>
<link rel="stylesheet" href="/styles/bootstrap.css"></link>
<link rel="stylesheet" href="/styles/styles.css"></link>
</head>
<body>
	
	<div id="mainRow" class="row">
		<div class="col-md-6">
			<h2>Productos no confirmados</h2>
			<div th:each="storageCartFalse: ${storageCartsFalse}" class="list-group">
				<div class="list-group-item">
					<h3 th:text="${storageCartFalse.name}">Nombre</h3>
			       	<h3 th:text="${storageCartFalse.lastName}">Apellidos</h3>
			       	<h3 th:text="${storageCartFalse.totalPrize}">Precio total</h3>
			       	<form action="/storageConfirmated" method="post">
			           	<input type="hidden" name="idStorageCartFalse" th:value="${storageCartFalse.id}"/>
			            <input type="submit" name="Comfirmar" value="Confirmar"/>
			       	</form>
		       	</div>
			</div>
		</div>
		<div class="col-md-6">
			<h2>Productos confirmados</h2>
			<div th:each="storageCartTrue: ${storageCartsTrue}" class="list-group">
				<div class="list-group-item">
					<h3 th:text="${storageCartTrue.name}">Nombre</h3>
			       	<h3 th:text="${storageCartTrue.lastName}">Apellidos</h3>
			       	<h3 th:text="${storageCartTrue.totalPrize}">Precio total</h3>
		       	</div>
			</div>
		</div>
		<div class="alert alert-danger" role="alert" th:if="${error}">
			<strong>Error, </strong>el pedido no ha sido procesado
		</div>
		<div class="alert alert-success" role="alert" th:if="${right}">
			<strong>Correcto, </strong>el pedido ha sido procesado
		</div>
  		<a href="/adminBack"><button class="btn btn-primary">Volver</button></a>
	</div>
</body>
</html>