<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Confirmación del pedido</title>
<link rel="stylesheet" href="/styles/bootstrap.css"></link>
<link rel="stylesheet" href="/styles/styles.css"></link>
</head>
<body>
	<div id="mainRow" class="row">
		<div class="alert alert-success" role="alert">
					<strong>Correcto, </strong>pedido realizado satisfactoriamente
		</div>
		<p>
			<a href="/"><button class="btn btn-primary">Volver a la página principal</button></a>
		</p>
	</div>
</body>
</html>