<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Poxmania</title>
    <link rel="stylesheet" href="/styles/bootstrap.css"></link>
    <link rel="stylesheet" href="/styles/styles.css"></link>
	<script type="text/javascript">
		function nameAbail(form){

			form.name.disabled = false;
			form.prizeMin.disabled = true;
			form.prizeMax.disabled = true;
		};

		function prizeAbail(form){
			form.name.disabled = true;
			form.prizeMin.disabled = false;
			form.prizeMax.disabled = false;
		};
	</script>
</head>
<body>
    <!--contiene el logo, el buscador, el boton de administrador y la cesta-->
    <div>
        <div class="row">
            <!--logo-->
            <div class="col-md-8">
        	   <a href="/"><img src="/image/logo.jpg"></img></a>
            </div>
            <div class="col-md-2">
                <a href="/confirmationForm"><button type="button" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Admin
                </button></a>
            </div>
            <div class="col-md-2">
                <a href="/storageCart"><button type="button" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Carrito
                </button></a>
            </div>
        </div>
        <!--buscador-->
        <div class="row">
            <form th:action="@{/mainTemplate/search}" method="POST">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <input class="btn btn-default" type="submit" value="Buscar"/> 
                        </span>
                        <input id="name" name="name" type="text" class="form-control" placeholder="Nombre..."/>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </form>
          <form th:action="@{/mainTemplate/search}" method="POST">    
              <div class="col-md-4">
                <div class="input-group">
                  <input id="prizeMin" name="prizeMin" type="number" class="form-control" placeholder="Precio mínimo"/>
                </div><!-- /input-group -->
              </div><!-- /.col-lg-6 -->
              <div class="col-md-2">
                <div class="input-group">
                  <input id="prizeMax" name="prizeMax" type="number" class="form-control" placeholder="Precio máximo"/>
                  <span class="input-group-btn">
                    <input class="btn btn-default" type="submit" value="Buscar"/>
                  </span>
                </div><!-- /input-group -->
              </div><!-- /.col-lg-6 -->
          </form>
        </div><!-- /.row -->
        <!--div>
        	<form th:action="@{/mainTemplate/search}" method="POST">
				Búsqueda por nombre<input type="text" name="name" onclick="nameAbail(this.form)"/>
                <input type="submit" name="Enviar" value="Buscar"/>
            </form>
            <form th:action="@{/mainTemplate/search}" method="POST">
				Búsqueda por precio<br/>
				Valor inferior<input type="number" name="prizeMin" value="" onclick="prizeAbail(this.form)"/> 
                Valor superior<input type="number" name="prizeMax" value="" onclick="prizeAbail(this.form)"/>
				<input type="submit" name="Enviar" value="Buscar"/>
			</form>
        </div-->
        <!--boton de administrador-->
        <div>
            <a href="/confirmationForm">admin</a>
        </div>
        <!--cesta-->
        <div>
        	<a href="/storageCart">Carrito</a>
        </div>
    </div>
    <!--contenedor grande donde estaran las imagenes y algún menu-->
    <div>
        <!--menu de arriba-->
        <div>
        	<nav>
        		<ul>
        			<li><a href="/">Home</a></li>
        			<li><a th:href="@{/mainTemplate/1}">Televisión</a></li>
        			<li><a th:href="@{/mainTemplate/2}">Informáica</a></li>
        			<li><a th:href="@{/mainTemplate/3}">Videoconsola</a></li>
        			<li><a th:href="@{/mainTemplate/4}">Pequeño electrodoméstico</a></li>
        		</ul>
        	</nav>
        </div>
        <!--contenedor de fotos OJO-->
        <div th:each="product: ${products}" style="border-style: solid; padding: 20px">
            <img th:src="${product.image}" height="100"></img>
            <h2 th:text="${product.name}">Name</h2>
            <h2 th:text="${product.prize}">Price</h2>
            <form action="/showProduct" method="post">
            	<input type="hidden" name="idProduct" th:value="${product.id}"/>
            	<input type="submit" name="Ver detalle" value="Ver detalle"/>
            </form>
        </div>
    </div>
    <!--footer-->
    <div></div>
</body>
</html>