<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Poxmania</title>
    <link rel="stylesheet" href="/styles/bootstrap.css"></link>
    <link rel="stylesheet" href="/styles/styles.css"></link>
</head>
<body>
    <div class="row" id="mainRow">
        <div class="row" id="firstMainRow">
            <div class="col-md-6">
        	   <a href="/"><img src="/image/logo.jpg"></img></a>
            </div>
            <div class="col-md-2">
                <a href="/confirmationForm"><button id="adminButton" type="button" class="btn btn-default btn-lg">
                    Admin
                </button></a>
            </div>
            <div class="col-md-2">
                <a href="/storageCart"><button id="storageCartButton" type="button" class="btn btn-default btn-lg">
                    Carrito
                </button></a>
            </div>
        </div>
        <div class="row" id="secondMainRow">
            <form th:action="@{/mainTemplate/search}" method="POST">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <input class="btn btn-default" id="searchByName" type="submit" value="Buscar"/> 
                        </span>
                        <input id="name" name="name" type="text" class="form-control" placeholder="Nombre..."/>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </form>
          <form th:action="@{/mainTemplate/search}" method="POST">    
              <div class="col-md-4">
                <div class="input-group">
                  <input id="prizeMin" name="prizeMin" type="number" class="form-control" placeholder="Precio mínimo"/>
                </div><!-- /input-group -->
              </div><!-- /.col-lg-6 -->
              <div class="col-md-2">
                <div class="input-group">
                  <input id="prizeMax" name="prizeMax" type="number" class="form-control" placeholder="Precio máximo"/>
                  <span class="input-group-btn">
                    <input class="btn btn-default" id="searchByPrize" type="submit" value="Buscar"/>
                  </span>
                </div><!-- /input-group -->
              </div><!-- /.col-lg-6 -->
          </form>
        </div><!-- /.row -->
    <div class="row" id="thirdMainRow">
        <div class="masthead">
        	<nav>
        		<ul class="nav nav-tabs nav-justified">
        			<li><a href="/">Home</a></li>
        			<li><a th:href="@{/mainTemplate/1}">Televisión</a></li>
        			<li><a th:href="@{/mainTemplate/2}">Informáica</a></li>
        			<li><a th:href="@{/mainTemplate/3}">Videoconsola</a></li>
        			<li><a th:href="@{/mainTemplate/4}">Pequeño electrodoméstico</a></li>
        		</ul>
        	</nav>
        </div>
      </div> 
        <div class="row" id="fourthMainRow">
          <div class="col-sm-6 col-md-4" th:each="product: ${products}">
            <div class="thumbnail">
              <img th:src="${product.image}"></img>
              <div class="caption">
                <h3 th:text="${product.name}">Name</h3>
                <p th:text="${product.description}">Description</p>
                <h4 th:text="|${product.prize} €|" style="color:red">Prize</h4>
                <form action="/showProduct" method="post">
            	   <input type="hidden" name="idProduct" th:value="${product.id}"/>
            	   <input class="btn btn-primary" type="submit" name="Ver detalle" value="Ver detalle"/>
                </form>  
              </div>
            </div>
          </div>
        </div>
    </div>
</body>
</html>