<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Poxmania</title>
</head>
<body>
    <!--contiene el logo, el buscador, el boton de administrador y la cesta-->
    <div>
        <!--logo-->
        <div>
        </div>
        <!--buscador-->
        <div></div>
        <!--boton de administrador-->
        <div>
            <a href="confirmationForm">admin</a>
        </div>
        <!--cesta-->
        <div>
        	<a href="storageCart">Carrito</a>
        </div>
    </div>
    <!--contenedor grande donde estaran las imagenes y algún menu-->
    <div>
        <!--menu de arriba-->
        <div></div>
        <!--contenedor de fotos OJO-->
        <div th:each="product: ${products}" style="border-style: solid; padding: 20px">
            <img th:src="${product.image}" height="100"></img>
            <h2 th:text="${product.name}">Name</h2>
            <h2 th:text="${product.prize}">Price</h2>
            <a th:href="@{/showProduct(idProduct=${product.id})}"
	   			th:text="|${product.name} ${product.category}|">Link</a>
        </div>
    </div>
    <!--footer-->
    <div></div>
</body>
</html>