<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Modificar Producto</title>
</head>
<body>
	<div th:each="product: ${products}" style="border-style: solid; padding: 20px">
		<form action="/modifiedProduct" method="post">		
			<p>
        		<img th:src="@{../images${product.image}}"></img>
        		<!-- form action="/modifiedProduct" method="post"-->
        			<p>
						<b>Image:</b> <input type='text'  name='image' />
					</p>
        		<!-- /form-->
        	</p>
        	<p>
            	<h2 th:text="${product.name}">Name</h2>
            	<!--form action="/modifiedProduct" method="post"-->
        			<p>
						<b>Name:</b> <input type='text' name='name' />
					</p>
        		<!-- /form-->
            </p>
            <p>
            	<h2 th:text="${product.prize}">Price</h2>
            	<!-- form action="/modifiedProduct" method="post"-->
        			<p>
						<b>Price:</b> <input type="number" name='name' />
					</p>
        		<!-- /form-->
            </p>
            <input type='submit' name='enviar' value='Enviar' />
        </form>
    </div>
</body>
</html>