<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Modificar Producto</title>
</head>
<body>
	<div th:each="product: ${products}" style="border-style: solid; padding: 20px">
		<form action="/modifiedProduct" method="post">		
			<p>
        		<img th:src="@{../images${product.image}}"></img>
        		<p>
					<b>Image:</b> <input type='text'  name='image' />
				</p>
        	</p>
        	<p>
            	<h2 th:text="${product.name}">Name</h2>
        		<p>
					<b>Name:</b> <input type='text' name='name' />
				</p>
            </p>
            <p>
            	<h2 th:text="${product.name}">Description</h2>
        		<p>
					<b>Description:</b> <input type='text' name='description' />
				</p>
            </p>
            <p>
            	<h2 th:text="${product.name}">Category</h2>
        		<p>
					<b>Category:</b> <input type='text' name='category' />
				</p>
            </p>
            <p>
            	<h2 th:text="${product.prize}">Price</h2>
        		<p>
					<b>Price:</b> <input type="number" name='name' />
				</p>
            </p>
            <a th:href="@{/modifiedProduct(idProduct=${product.id})}"></a>
            <input type='submit' name='enviar' value='Enviar' />
        </form>
        <p th:if="${error}"> ERROR, PRODUCT NOT MODIFIED!</p>
		<a href="/">Volver</a>
    </div>
</body>
</html>