<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Falsa Auntentificación</title>
<link rel="stylesheet" href="/styles/bootstrap.css"></link>
<link rel="stylesheet" href="/styles/styles.css"></link>
</head>
<body>
	<div id="mainRow" class="row">
		<div class="alert alert-danger" role="alert">
			<strong>Error </strong>, no tiene permisos de administrador
		</div>
		<a href="/"><button class="btn btn-primary">Volver a la página principal</button></a>
	</div>
</body>
</html>