<html xmlns:th="http://www.thymeleaf.org">
<body>

	<h1>Producto</h1>
	<h1 th:text="|Categoria: ${product.category}|"></h1>
	<img th:src="@{../images${product.image}}"></img>
	<h2 th:text="|Nombre: ${product.name}|">></h2>
	<p th:text="|Precio: ${product.prize}|" />
	<p th:text="|Comentario: ${product.description}|" />
	<div>
		<form th:action="@{/addToStorageCartConfirmation}" method="post">
		<p>
			<label for="numElements">Category:</label><br /> <!--input type='text' name='category'/-->
			<select id="numElements" name="numElements">
				<option value="" selected="selected">0</option>
				<option value="1"> 1 </option>
				<option value="2"> 2 </option>
				<option value="3"> 3 </option>
				<option value="4"> 4 </option>
				<option value="5"> 5 </option>
				<option value="6"> 6 </option>
				<option value="7"> 7 </option>
				<option value="8"> 8 </option>
				<option value="9"> 9 </option>
				<option value="10"> 10 </option>
			</select>
		</p>
		<input type="hidden" name="idProduct" th:value="${product.id}"/>
		<input type="submit" name="Enviar"/>
		</form>
	</div>
	<a href="/">Volver</a>
</body>
</html>