<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Carrito de la compra</title>
</head>
<body>
	<div th:each="product: ${products}" style="border-style: solid; padding: 20px">
		<div>
        	<img th:src="@{../images${product.image}}"></img>
            <h2 th:text="${product.name}">Name</h2>
            <h2 th:text="${product.prize}">Price</h2>
		   	<p>
		   		<h1> x 1 </h1>
		   	</p>
        </div>
    </div>
    <div th:text="|Precio Total: ${prize}">
    </div>
    <div>
    	<a href="/">Volver</a>
    </div>
</body>
</html>