div.col-md-4{
    width: 15%;
}

div#firstMainRow.row{
    margin-left: 1.5em;
    margin-top: 1.5em;
    margin-right: 1.5em;
}

div#secondMainRow.row{
    margin-left: 1.5em;
    margin-top: 1.5em;
    margin-right: 1.5em;
}

div#thirdMainRow.row{
    margin-left: 1.5em;
    margin-top: 1.5em;
    margin-right: 1.5em;
}

div#fourthMainRow.row{
    margin-left: 1.5em;
    margin-top: 1.5em;
    margin-right: 1.5em;
}

input#prizeMin.form-control{
    margin-left: 20%;
}

button#adminButton.btn.btn-default.btn-lg{
    margin-left: 73%;
    background-color: #c70fb2;
    color: #fff;
}

button#adminButton.btn.btn-default.btn-lg:hover{
    margin-left: 73%;
    background-color: #880a79;
    color: #fff;
}


button#storageCartButton.btn.btn-default.btn-lg{
    background-color: #3ae61b;
    color: #fff;
}

button#storageCartButton.btn.btn-default.btn-lg:hover{
    background-color: #1e900a;
    color: #fff;
}

input#searchByName.btn.btn-default{
	background-color: #3ae61b;
    color: #fff;
}

input#searchByName.btn.btn-default:hover{
	background-color: #1e900a;
    color: #fff;
}

input#searchByPrize.btn.btn-default{
	background-color: #3ae61b;
    color: #fff;
}

input#searchByPrize.btn.btn-default:hover{
	background-color: #1e900a;
    color: #fff;
}

.nav-tabs.nav-justified{
	margin-bottom:1.5em;
}

.nav-tabs.nav-justified > li > a{
	background-color: #c70fb2;
  	color: #fff;
  	border-style: solid;
  	border-radius: 0;
  	border-color: #555;
  	margin-top: 1.2em;
}

.nav-tabs.nav-justified > li > a:hover{
	background-color: #880a79;
  	color: #fff;
  	border-style: solid;
  	border-radius: 0;
  	border-color: #555;
  	margin-top: 1.2em;
}

.thumbnail > img, .thumbnail a > img{
	height:120px;
}

input.btn.btn-primary{
	background-color: #3ae61b;
    color: #fff;
}

input.btn.btn-primary:hover{
	background-color: #1e900a;
    color: #fff;
}

button#adminBackButtonDelete.btn.btn-default.btn-lg{
    margin-top: 2.5em;
    background-color: #c70fb2;
  	color: #fff;
}

div#mainDeleteRow.row{
    padding-left: 2em;
    padding-right: 1.2em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

button#adminBackButtonDelete.btn.btn-default.btn-lg:hover{
    margin-top: 2.5em;
    background-color: #880a79;
  	color: #fff;
}

div#mainRow.row{
    padding-left: 2em;
    padding-right: 1.2em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

div#productToShow.row{
      padding-left: 36em;
      padding-top: 5em;
}
